<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Gratuity!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <nav th:replace="fragments :: navigation"></nav>

    <center>
        <h1 class="ui icon header">
            <i class="money bill alternate outline icon"></i>
            <div class="content">
                GratTracker
                <div class="sub header">Keep tabs on your tips!</div>
            </div>
        </h1>
    </center>

    <br/>
    <center>
        <div class="inner">
            <form class="ui raised compact very padded segment form" action="#" th:action="@{/add}" th:object="${grat}"
                  method="post">
                <label>Date:
                    <input id="shiftDate" type="date" value="shiftDate" name="shiftDate" />
                </label>
                    <p class="error">{{date_error}}</p>
                <label>Hours Worked:
                    <input id="hoursWorked" type="text" th:field="*{hoursWorked}" value="hoursWorked" name="hoursWorked" />
                </label>
                    <p class="error">{{hoursWorked_error}}</p>
                <label>Hourly Wage:
                    <input id="hourlyWage" type="number" th:field="*{hourlyWage}" min="0.00" max="10000.00" step="0.01" value="hourlyWage" name="hourlyWage"/>
                </label>
                    <p class="error">{{hourlyWage_error}}</p>
                <label>Total Tips:
                    <input id="totalTips" type="number" min="0.00" max="10000.00" step="0.01" th:field="*{totalTips}"
                   value="totalTips" name="totalTips"/>
                </label>
                    <p class="error">{{totalTips_error}}</p>
                <textarea id="notes" name="notes" th:field="*{shiftNotes}" placeholder="Shift notes..." rows="5"
                      cols="33"></textarea>
                    <br/><br/>
                <button class="ui olive button" type="submit">Submit</button>
                </form>
        </div>
    </center>

</body>
</html>