<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">TITLE</title>

</head>
<body>


<nav th:fragment="navigation">
    <div class="ui inverted menu">
        <a class="olive item" href="/">Home</a>
        <a class="olive item" href="week">Last Week</a>
        <a class="olive item" href="add">Add</a>
        <a class="olive item" href="/login">Log In</a>
        <a class="olive item" href="/signup">Sign Up</a>
    </div>
</nav>

</body>
</html>