<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GratTracker Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
</head>
<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <center>
        <h1 class="ui icon header">
            <i class="money bill alternate outline icon"></i>
            <div class="content">
                GratTracker
                <div class="sub header">Keep tabs on your tips!</div>
            </div>
        </h1>
    </center>

<!--        <h1>GratTracker</h1>-->
<!--        <h3>Keep tabs on your tips!</h3>-->

    <div class="ui container">
        <div class="ui placeholder segment">
                <div class="ui two column very relaxed stackable grid">
                    <div class="column">
                        <div class="ui form">
                            <div class="field">
                                <label>Username</label>
                                <div class="ui left icon input">
                                    <input type="text" placeholder="Username"/>
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <input type="password"/>
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <a href="/login">
                                <div class="ui olive submit button">Login</div>
                            </a>
                        </div>
                    </div>
                    <div class="middle aligned column">
                        <a href="/signup">
                            <div class="ui olive big button">
                                <i class="signup icon"></i>
                                Sign Up
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui vertical divider">
                    Or
                </div>
            </div>
        </div>

    <!--        <button class="ui basic huge olive fluid button"><a href="/login">Log In</a></button>-->
    <!--        <button class="ui basic huge olive fluid button"><a href="/signup">Sign Up</a></button>-->

</body>
</html>