<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <nav th:replace="fragments :: navigation"></nav>

    <center>
        <h1 class="ui icon header">
            <i class="money bill alternate outline icon"></i>
            <div class="content">
                GratTracker
                <div class="sub header">Keep tabs on your tips!</div>
            </div>
        </h1>
    </center>

    <br/>

    <center>
        <form class="ui raised compact very padded segment form" action="/login" method="post">
            <div class="field">
                <label>Name:
                    <input type="text" name="username"/>
                </label>
            </div>
            <div class="field">
                <label>Password:
                    <input type="password" name="password"/>
                </label>
            </div>
            <button class="ui basic olive button" type="submit">Submit</button>
        </form>
    </center>

    <!--    <div class="inner">-->
<!--        <center>-->
<!--            <form action="#" th:action="@{/login}" th:object="${user}" method="post">-->
<!--            <label>Username:-->
<!--                <input id="username" type="text" th:field="*{username}" value="username" name="username"/>-->
<!--            </label>-->
<!--                <p class="error">{{name_error}}</p>-->
<!--            <label>Password:-->
<!--                <input id="password" type="password" th:field="*{password}" value="password" name="password"/>-->
<!--            </label>-->
<!--                <p class="error">{{password_error}}</p>-->
<!--            <input type="submit" />-->
<!--        </form></center>-->
<!--    </div>-->
</body>
</html>