<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign Up!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <nav th:replace="fragments :: navigation"></nav>

    <center>
        <h1 class="ui icon header">
            <i class="money bill alternate outline icon"></i>
            <div class="content">
                GratTracker
                <div class="sub header">Keep tabs on your tips!</div>
            </div>
        </h1>
    </center>

    <br/>

</body>
</html>